@import _colors

body
    background: $background
    color: $primary
    overflow: hidden
    font-family: 'Montserrat', sans-serif

input[type='range']
    -webkit-appearance: none
    appearance: none
    height: .5em
    background: $primary
    outline: none

    &::-webkit-slider-thumb
        -webkit-appearance: none
        appearance: none
        width: .8em
        height: 2em
        background: $primary
        cursor: pointer

h1
    position: fixed
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 4em

*
    user-select: none

@mixin view()
    height: 100vh
    width: 100vw
    position: fixed
    top: 0
    left: 0
    opacity: 0
    transition: .4s

.deepnes
    @include view
    opacity: 1

    input[type='range']
        position: absolute
        top: 50%
        left: 50%
        width: 40%
        transform: translate(-50%, -50%)
        transition: .2s

    .value
        position: absolute
        font-size: 2em
        top: 34%
        left: 50%
        transform: translateX(-50%)
        transition: .2s

    .rootWrap
        display: flex
        flex-direction: row
        height: 15vh
        width: max-content
        position: absolute
        top: 45%
        left: 50%
        transform: translate(-50%, -50%)
        align-content: center
        transition: .2s
        opacity: 0
        display: none

        *
            align-self: center

        input[type='text']
            outline: none
            border: none
            background: none
            border-bottom: $primary 2px solid
            font-size: 2.2em
            color: $primary
            width: 10em
            margin-left: 2%

            &.error
                border-bottom: $error 2px solid

        .switchWrap
            height: 66%
            width: 10em
            font-size: 2em
            text-align: center
            transition: .2s
            display: flex
            flex-direction: column
            justify-content: space-between

            h2
                padding: 0
                margin: 0
                cursor: pointer
                transition: .2s
                width: max-content
                font-size: 1em

            @mixin pNotActive()
                opacity: .5
                transform: scale(.9)

            &.start
                transform: translateY(30%)

                h2:last-child
                    @include pNotActive
            
            &.finish
                transform: translateY(-30%)

                h2:first-child
                    @include pNotActive

    .go
        background: $primary
        width: 9em
        height: 4em
        border-radius: 2em
        position: absolute
        top: 60%
        left: 50%
        transform: translateX(-50%)
        display: flex
        flex-direction: row
        justify-content: space-around
        align-content: center
        padding: 0 2em
        box-sizing: border-box
        cursor: pointer
        transition: background .5s

        .triangle
            width: 20%
            height: 50%
            background: $background
            align-self: center
            clip-path: polygon(0 0, 100% 46%, 100% 62%, 0 100%, 0 80%, 76% 54%, 0 19%)
            transition: .2s

        &:hover
            .triangle
                transform: translateX(10%)

.game
    @include view
    display: flex
    flex-direction: row

    .branchWrap
        height: 100%
        transition: .2s
        position: relative

        .word
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            width: 70%
            height: 1.2em
            font-size: 1.3em
            background: $primary
            color: $background
            text-align: center
            padding: 1em 0
            border-radius: 1.7em
            font-weight: bolder
            transition: .3s
            display: flex
            justify-content: center

            &.hoverable:hover
                transform: translate(-50%, -50%) scale(1.08)
                cursor: pointer

    
    .toolBar
        position: absolute
        top: 2%
        left: 50%
        height: 5%
        width: max-content
        transform: translateX(-50%)
        display: flex
        flex-direction: row
        transition: .5s

        &.hidden
            top: -10%

        img
            height: 100%
            transition: .1s
            transform: rotate(0)
            cursor: pointer

            &:hover
                transform: rotate(-5deg)
        
        .health
            height: 100%
            width: max-content
            display: flex
            
            .point
                align-self: center
                height: 2vh
                width: 2vh
                background: $primary
                transition: .1s
                opacity: 1
                margin-left: .5vw
                clip-path: circle(50% at 50% 50%)

                &:first-child
                    margin-left: 1vw

                &.dead
                    opacity: .5

    .resultLine
        width: 0%
        height: .2em
        background: $primary
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        z-index: -1
        transition: .8s

        &.active
            width: 100%
    
    .resultBar
        position: absolute
        top: 2%
        left: 50%
        height: max-content
        width: max-content
        transform: translateX(-50%)
        transition: .5s
        text-align: center

        &.hidden
            top: -8em

        h2
            font-size: 2em
            padding: 0
            margin: 0

        p
            font-size: 1em
            cursor: pointer
            text-decoration: underline
    
    .checkAnswer
        position: absolute
        top: 80%
        left: 50%
        transform: translateX(-50%)
        font-size: 1.5em
        text-decoration: underline
        margin: 0
        padding: 0
        opacity: 0
        transition: .5s
        cursor: pointer

        &.active
            opacity: 1
                
.build
    @include view

    svg
        height: 20vh
        width: calc(20vh / 236 * 200)
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)